name: Backend lint

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r worker/requirements.txt -r manager/requirements.txt -r producer/requirements.txt
        working-directory: ./backend/prototype

      - name: Install Ruff and ty
        run: pip install ruff ty

        # lint check
      - run: ruff check .
        working-directory: ./backend/prototype

        # type check
      - run: ty check . --python $(which python)
        working-directory: ./backend/prototype
